<!-- main partial beginning-->
<main>
    <section class="location">
        <h2>
            Location: <span id="location"></span>
        </h2>
    </section>
    <section class="playerone">
        <h2>Player One</h2>
        <p id="playerOneDirective"></p>
    </section>
    <section class="playertwo">
        <h2>Player Two</h2>
        <p id="playerTwoDirective"></p>
    </section>
    <section class="wildcard">
        <h2>Wildcard</h2>
        <p id="wildcardDirective"></p>
    </section>
</main>
<!-- main partial end -->