<!-- main partial beginning-->
<main>
    <ul>
        <li>
            <h2>Location</h2>
            <span id="location"><em>TODO</em></span>
        </li>
        <li>
            <h2>Player One</h2>
            <span id="playerOneDirective"></span>
        </li>
        <li>
            <h2>Player Two</h2>
            <span id="playerTwoDirective"></span>
        </li>
        <li>
            <h2>Wildcard</h2>
            <span id="wildcardDirective"></span>
        </li>
    </ul>
</main>
<!-- main partial end -->