<!-- main partial beginning-->
<main>
    <div class="refresher" id="refresher">
        <button title="Refresh location, directives, and mission">
            Refresh
        </button>
    </div>
    <section class="directive location">
        <h2>Location</h2>
        <p id="location"></p>
    </section>
    <section class="directive playerone">
        <h2>Player One</h2>
        <p id="playerOneDirective"></p>
    </section>
    <section class="directive playertwo">
        <h2>Player Two</h2>
        <p id="playerTwoDirective"></p>
    </section>
    <section class="directive wildcard">
        <h2>Wildcard</h2>
        <p id="wildcardDirective"></p>
    </section>
</main>
<!-- main partial end -->