<section class="options-container">
    <fieldset class="options"> 
        <h3 class="options-header">Player</h3>
        <ul class="options-list">
            <li>
                <label for="is-unique">
                    Unique
                    <input type="checkbox" id="is-unique">
                    <span class="checkbox-custom"></span>
                </label>
            </li>
            <li>
                <label for="is-nonlethal">
                    Non-lethal
                    <input type="checkbox" id="is-nonlethal">
                    <span class="checkbox-custom"></span>
                </label>
            </li>    
        </ul>
    </fieldset>
    <fieldset class="options">
        <h3 class="options-header">Other</h3>
        <ul class="options-list">
            <li>
                <label for="only-preferred-locations">
                    Preferred locations
                    <input type="checkbox" id="only-preferred-locations" checked>                
                    <span class="checkbox-custom"></span>
                </label>
            </li>
        </ul>
    </fieldset>
</section>