<fieldset> 
    <legend>Player options</legend>
    <ul class="options">
        <li>
            <label for="is-unique">Unique</label>
            <input type="checkbox" id="is-unique">
        </li>
        <li>
            <label for="is-nonlethal">Non-lethal</label>
            <input type="checkbox" id="is-nonlethal">
        </li>    
    </ul>
</fieldset>
<fieldset>
    <legend>Other options</legend>
    <ul class="options">
        <li>
            <label for="only-preferred-locations">Preferred locations</label>
            <input type="checkbox" id="only-preferred-locations" checked>
        </li>
    </ul>
</fieldset>